<div class="shopping_cart">
    <a href="#" data-url="@Url.Action("DetailsPartial", "GioHang")"><i class="fa fa-shopping-cart"></i> @ViewBag.TongSL sản phẩm - @String.Format("{0:0,0 VNĐ}", ViewBag.TongTien) <i class="fa fa-angle-down"></i></a>

    <!--mini cart-->

    <div class="mini_cart" id="ShowPartialCart">

    </div>

    <!--mini cart end-->
</div>
